# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.dist
build
.build
out
*.tsbuildinfo
.tmp

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Turbo
.turbo

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Changesets
!.changeset/config.json

# Misc
*.pem 
.claude
.cursor