@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {

    --radius: 0.5rem;

    --background: 0 0% 100%;

    --foreground: 240 6% 10%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 4%;

    --primary: 216 100% 43%;

    --primary-foreground: 208 57% 91%;

    --secondary: 240 5% 96%;

    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;

    --muted-foreground: 240 4% 46%;

    --accent: 240 5% 96%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 72% 51%;

    --destructive-foreground: 0 86% 97%;

    --border: 240 6% 90%;

    --input: 240 6% 90%;

    --ring: 240 6% 10%;

    --chart-1: 0 0% 70%;

    --chart-2: 0 0% 70%;

    --chart-3: 0 0% 70%;

    --chart-4: 0 0% 70%;

    --chart-5: 0 0% 70%;

    --sidebar: 0 0% 100%;

    --sidebar-foreground: 240 4% 16%;

    --sidebar-primary: 216 100% 43%;

    --sidebar-primary-foreground: 208 57% 91%;

    --sidebar-accent: 240 5% 96%;

    --sidebar-accent-foreground: 0 0% 98%;

    --sidebar-border: 240 6% 90%;

    --sidebar-ring: 240 6% 10%;

}

.dark {

    --background: 240 6% 10%;

    --foreground: 0 0% 98%;

    --card: 240 10% 4%;

    --card-foreground: 0 0% 98%;

    --popover: 240 5% 26%;

    --popover-foreground: 0 0% 98%;

    --primary: 217 100% 68%;

    --primary-foreground: 226 76% 27%;

    --secondary: 240 5% 34%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 5% 34%;

    --muted-foreground: 240 4% 46%;

    --accent: 240 10% 4%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 91% 71%;

    --destructive-foreground: 0 93% 94%;

    --border: 240 5% 34%;

    --input: 240 4% 46%;

    --ring: 240 5% 84%;

    --chart-1: 0 0% 70%;

    --chart-2: 0 0% 70%;

    --chart-3: 0 0% 70%;

    --chart-4: 0 0% 70%;

    --chart-5: 0 0% 70%;

    --sidebar: 240 6% 10%;

    --sidebar-foreground: 240 4% 16%;

    --sidebar-primary: 217 100% 68%;

    --sidebar-primary-foreground: 226 76% 27%;

    --sidebar-accent: 240 10% 4%;

    --sidebar-accent-foreground: 0 0% 98%;

    --sidebar-border: 240 5% 34%;

    --sidebar-ring: 240 5% 84%;

}
}

@layer base {
* {
@apply border-border;
}

body {
@apply bg-background text-foreground;
}
}
